<html>
  <head>
    {% if title %}
      <title>{{ title }} - Comp Bio</title>
    {% else %}
      <title>Comp Bio</title>
    {% endif %}
  </head>
  <body>
    <div>
      <a href="/index">Home</a>
      <a href="/params">Find Palindromes From Sequence File</a>
      <a href="/downloads">Download Sequenced Palindromes</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
