{% extends "base.html" %}

{% block content %}
    <h1>Download Found Palindromes</h1>
    {% if sqs %}
        {% for s in sqs %}
            <h3>{{ s[0].name }}</h3>
            <li>Number of palindromes: {{ s[1] }}</li>
	    <li>Download Palindromes: <a href="{{ 'download/%s'%s[0].name }}">{{ s[0].name }}</a></li>
        {% endfor %}
	<hr>    
	<a href="/panic!">Clear database</a>
    {% else %}
        <h3>Nothing sequenced...</h3>
    {% endif  %}
{% endblock %}
