{% extends "base.html" %}

{% block content %}
  <h1>Submit Sequence</h1>
  <form action="" method="post" novalidate>
  	{{ form.hidden_tag() }}
  	<p>
  		{{ form.seq.label }}<br>
  		{{ form.seq }}
  		{% for error in form.seq.errors %}
  		<span style="color: red;">[{{ error }}]</span>
  		{% endfor %}
  	</p>
  	<p> {{ form.submit() }} </p>
  </form>
{% endblock %}
