{% extends "base.html" %}
{% block content %}
<center><h1>Gapped Palindrome Search Program</h1></center>
<h2>Guidelines:</h2>
<h4><b><i>Input:</i></b> Nucleotide sequence in FASTA/Genbank/txt format and finds all the gapped maximal palindromes. 
<br/>
<b><i>Output:</i></b> List of even and odd maximal palindromes
<br/>
<h4>How To:</h4>
<li>Click <a href="/params">Find Palindromes From Sequence File</a> at top of page</li>
<li>Upload sequence file</li>
<li>Customize parameters and submit</li>
<li>Once page has loaded, download output files from the given link, or go to the <a href="/downloads">downloads</a> page</li>

<h2>Customization Options:</h2>
<b><i>Margin:</i></b> The maximum gap allowed between two arms of the palindrome.<br/>
<b><i>Arm_Error:</i></b> The maximum number of mismatches between two arms of the palindrome.<br/>
<b><i>Gap_Error:</i></b> The maximum number of mismatches allowed in the gap.<br/>
<b><i>Extension_Length:</i></b> The minimum allowed extension length (if there is a deletion).<br/>
<b><i>Extension_Error:</i></b> The maximum number of mismatches allowed in the extension.<br/>
{% endblock %}
