{% entends "base.html" %}



<html>
  <head>
    <title>{{ title }} - palindrome detection</title>
    </head>
  <body>
  	{% if form %}
  		<form action="" method="post">
  			{{ form.hidden_tag() }}
  			<p>{{ form.id.label }}<br>
  			   {{ form.id }}
  			</p>
  			<p>{{ form.seq.label }}<br>
  			   {{ form.seq }}
  			</p>
  			<p>
  				{{ form.submit }}
  			</p>
  		</form>
  	{% endif %}
  	{% if xs %}
    	{% for x in xs %}
    	<div><p>{{ x }}</p></div>
    	{% endfor %}
    {% endif %}
  </body>
</html>
