{% extends "base.html" %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.file.label }}<br>
      {{ form.file }}
      {% for error in form.file.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p>
      {{ form.margin.label }}<br>
      {{ form.margin }}
      {% for error in form.margin.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p>
      {{ form.min_arm_errors.label }}<br>
      {{ form.min_arm_errors }}
      {% for error in form.min_arm_errors.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p>
      {{ form.min_gap_errors.label }}<br>
      {{ form.min_gap_errors }}
      {% for error in form.min_gap_errors.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p>
      {{ form.min_arm_length.label }}<br>
      {{ form.min_arm_length }}
      {% for error in form.min_arm_length.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p>
      {{ form.min_extension.label }}<br>
      {{ form.min_extension }}
      {% for error in form.min_extension.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p>
      {{ form.extension_additional_errors.label }}<br>
      {{ form.extension_additional_errors }}
      {% for error in form.extension_additional_errors.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
    <p> {{ form.submit() }} </p>
  </form>
{% endblock %}
