{% extends "base.html" %}

{% block content %}
	<h1>Palindrome Locations: </h1>
	<p>Output format: [position] [palindrome] [errors]</p>
	<p>Output regex: "[0-9]* [a|t|c|g]* ([a|t|c|g] ){0,1}[a|t|c|g]* [0-9]*"</p>
	{% for stream in data %}
		<h3>Sequence Id: {{ stream[0] }}</h3>
		{% if stream[1] %}
			{% for p in stream[1] %}
				<div>{{ p }}</div>
			{% endfor %}
		{% else %}
			<p>Sequence already analyzed, see downloads</p>
		{% endif %}
		<p><a href="{{ '/download/%s'%stream[0] }}">Download Sequence: {{ stream[2] }}</a></p>
	{% endfor %}
{% endblock %}

